.btn {
  padding: 10px;

  cursor: pointer;

  color: var(--white);
  border-radius: 5px;

  font-size: 14px;
  line-height: 14px;
}

.primary {
  border: 1px solid var(--white);
  background-color: var(--primary);
}

.ghost {
  color: var(--black);
  border: 1px solid var(--gray-light);
  background-color: var(--white);
}

.arrow {
  margin-left: 10px;
}

.down svg {
  transition: transform 0.3s;

  transform: rotate(90deg);
}

.primary svg {
  fill: var(--white);
}
