.tag {
  margin-right: 5px;
  padding: 5px 10px;

  border-radius: 20px;
}

.small {
  font-size: 12px;
  line-height: 12px;
}

.medium {
  font-size: 14px;
  line-height: 14px;
}

.ghost {
  border: 1px solid var(--grey-light);
}

.warning {
  color: var(--white);
  background-color: #DE0000;

  font-weight: bold;
}

.grey {
  color: var(--white);
  background-color: #51648C;

  font-weight: bold;
}

.success {
  color: var(--success);
  background-color: var(--success-light);

  font-weight: bold;
}

.primary {
  color: var(--primary);
  border: 1px solid var(--primary);
  background-color: none;
}
