html,
body {
  margin: 0;
  padding: 0;

  color: var(--black);

  font-family: 'Noto Sans Display', sans-serif;
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

:root {
  --black: #3b434e;
  --white: #fff;
  --primary: #7653fc;
  --secondary: #787d85;
  --success: #1dc37e;
  --success-light: #c8f8e4;
  --warning: #fc836d;
  --grey: #b3c0d9;
  --grey-light: #ebebeb;
  --bg: #f5f6f8;
}
